<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
    <h1 class="titulo">Listado de Peliculas! desde EJS</h1>

    <% for (let indice in peliculas) { %>

        <a href="<%= peliculas[indice].codigo %>"><img src="image/<%= peliculas[indice].poster %>" alt="<%= peliculas[indice].nombre %>"></a>
    
    <% } %>
</body>
</html>